ClientWS/src/main/java/STUB_Proxy/banqueservice.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is XML-WS Runtime 4.0.3 git-revision#a57c222. --><!-- Generated by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is XML-WS Runtime 4.0.3 git-revision#a57c222. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://banqueservice.icodi.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://banqueservice.icodi.com/" name="BanqueWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://banqueservice.icodi.com/" schemaLocation="http://localhost:8585/banqueservice?xsd=1"/>
</xsd:schema>
</types>
<message name="listComptes">
<part name="parameters" element="tns:listComptes"/>
</message>
<message name="listComptesResponse">
<part name="parameters" element="tns:listComptesResponse"/>
</message>
<message name="getCompte">
<part name="parameters" element="tns:getCompte"/>
</message>
<message name="getCompteResponse">
<part name="parameters" element="tns:getCompteResponse"/>
</message>
<message name="ConversionEuroToMAD">
<part name="parameters" element="tns:ConversionEuroToMAD"/>
</message>
<message name="ConversionEuroToMADResponse">
<part name="parameters" element="tns:ConversionEuroToMADResponse"/>
</message>
<portType name="BanqueService">
<operation name="listComptes">
<input wsam:Action="http://banqueservice.icodi.com/BanqueService/listComptesRequest" message="tns:listComptes"/>
<output wsam:Action="http://banqueservice.icodi.com/BanqueService/listComptesResponse" message="tns:listComptesResponse"/>
</operation>
<operation name="getCompte">
<input wsam:Action="http://banqueservice.icodi.com/BanqueService/getCompteRequest" message="tns:getCompte"/>
<output wsam:Action="http://banqueservice.icodi.com/BanqueService/getCompteResponse" message="tns:getCompteResponse"/>
</operation>
<operation name="ConversionEuroToMAD">
<input wsam:Action="http://banqueservice.icodi.com/BanqueService/ConversionEuroToMADRequest" message="tns:ConversionEuroToMAD"/>
<output wsam:Action="http://banqueservice.icodi.com/BanqueService/ConversionEuroToMADResponse" message="tns:ConversionEuroToMADResponse"/>
</operation>
</portType>
<binding name="BanqueServicePortBinding" type="tns:BanqueService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="listComptes">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getCompte">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ConversionEuroToMAD">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="BanqueWebService">
<port name="BanqueServicePort" binding="tns:BanqueServicePortBinding">
<soap:address location="http://localhost:8585/banqueservice"/>
</port>
</service>
</definitions>